body {
    font-family: 'Roboto', sans-serif;
    background: url(/img/mtg_background2.png) no-repeat center
    center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title, .h1, p{
    color: #ffffff;
    text-align: center;
}


.container{
    justify-content: center !important;
    padding: 10px;
};


.btn {
    justify-content: flex-start;
}

.col-4 {
    display: flex;
    justify-content: center;
}


