body {
    font-family: 'Crimson-Text', serif;
    background: url(/img/mtg_background2.png) no-repeat center
    center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title, .h1 {
    color: #ffffff;
    text-align: center;
}


.container{
    justify-content: center !important;
};


.btn {
    padding: 20px;
    justify-content: flex-start;
}

.search-bar {
    padding-top: 20px;
}

